## Step 1 - Climate Analysis and Exploration:
To begin, use Python and SQLAlchemy to do basic climate analysis and data exploration of your climate database. All of the following analysis should be completed using SQLAlchemy ORM queries, Pandas, and Matplotlib.

- Use the provided starter notebook and hawaii.sqlite files to complete your climate analysis and data exploration.

- Choose a start date and end date for your trip. Make sure that your vacation range is approximately 3-15 days total.

- Use SQLAlchemy create_engine to connect to your sqlite database.

- Use SQLAlchemy automap_base() to reflect your tables into classes and save a reference to those classes called Station and Measurement.

In [1]:
# Importing dependencies:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime as dt

# Ignoring SQLITE warnings:
import warnings
warnings.filterwarnings('ignore')

## Reflect Tables into SQLAlchemy ORM

In [2]:
# Python SQL toolkit and Object Relational Mapper:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [3]:
# Creating the engine to connect to the database:
engine = create_engine("sqlite:///Resources/hawaii.sqlite", echo=False)

In [4]:
# Reflecting an existing database into a new model:
Base = automap_base()

# Reflecting the tables:
Base.prepare(engine, reflect=True)

# Viewing all of the classes that automap found:
Base.classes.keys()

['measurement', 'station']

In [5]:
# Saving references to each table:
Measurement = Base.classes.measurement
Station = Base.classes.station

In [6]:
# Using 'inspect' to ecplore the database and print the table names:
# Same results as reflecting an existing DB using 'automap_base'
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [7]:
# Using 'inspector' to print the column names within the 'measurement' table and its datatypes:
columns = inspector.get_columns('measurement')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [8]:
# Using 'inspector' to print the column names within the 'station' table and its datatypes:
columns = inspector.get_columns('station')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [9]:
# Creating our session (link) from Python to the DB:
session = Session(engine)

In [10]:
# Use 'session' to query 'Measurement' table and display the first 5 stations:
for row in session.query(Measurement, Measurement.station).limit(5).all():
    print(row)

(<sqlalchemy.ext.automap.measurement object at 0x000002698B18F198>, 'USC00519397')
(<sqlalchemy.ext.automap.measurement object at 0x000002698B18F208>, 'USC00519397')
(<sqlalchemy.ext.automap.measurement object at 0x000002698B18F278>, 'USC00519397')
(<sqlalchemy.ext.automap.measurement object at 0x000002698B18F2E8>, 'USC00519397')
(<sqlalchemy.ext.automap.measurement object at 0x000002698B18F358>, 'USC00519397')

In [11]:
# Use 'session' to query 'Station' table and display the first 5 stations:
for row in session.query(Station, Station.station).limit(5).all():
    print(row)

(<sqlalchemy.ext.automap.station object at 0x000002698B18F860>, 'USC00519397')
(<sqlalchemy.ext.automap.station object at 0x000002698B18F8D0>, 'USC00513117')
(<sqlalchemy.ext.automap.station object at 0x000002698B18F940>, 'USC00514830')
(<sqlalchemy.ext.automap.station object at 0x000002698B18F9B0>, 'USC00517948')
(<sqlalchemy.ext.automap.station object at 0x000002698B18FA20>, 'USC00518838')

### Precipitation Analysis:
- Design a query to retrieve the last 12 months of precipitation data.

- Select only the date and prcp values.

- Load the query results into a Pandas DataFrame and set the index to the date column.

- Sort the DataFrame values by date.

- Plot the results using the DataFrame plot method.

- Use Pandas to print the summary statistics for the precipitation data.

### Station Analysis:
- Design a query to calculate the total number of stations.

- Design a query to find the most active stations.

    - List the stations and observation counts in descending order.

    - Which station has the highest number of observations?

    - Hint: You will need to use a function such as func.min, func.max, func.avg, and func.count in your queries.

- Design a query to retrieve the last 12 months of temperature observation data (TOBS).

    - Filter by the station with the highest number of observations.

    - Plot the results as a histogram with bins=12.